* {
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(60,60,60);
  fill: rgb(60,60,60);
}

hr {
  border-top: 1px solid rgb(80,80,80);
  border-bottom: 0;
}

label {
  margin-left: 5px;
  color: rgb(80,80,80);
}

header {
  width: 100%;
  height: 50px;
  background: linear-gradient(rgb(110,110,110),rgb(60,60,60));
  z-index: 10;
  color: white;
}

#sidebar-toggle {
  padding: 7px;
  width: 40px;
  float: left;
  margin-left: 10px;
  margin-top: 3px;
  cursor: pointer ;
}

header h1 {
  width: calc(100% - 50px);
  float:right;
  margin: auto;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;

}

.container {
  height: 100%;
}

.sidebar {
  background: #e2e2e2;
  border: 1px solid #999;
  border-radius: 3px;
  line-height: 10px;
  height: calc(100% - 50px);
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 200px;
  overflow: auto;
  transform: translate(-200px,0);
  transition: transform 0.3s ease;
  position: absolute;
  z-index: 99 !important;
}

.visible-sidebar {
  transform: translate(0,0);
}

@media (min-width: 600px) {
  .sidebar {
    transform: translate(0,0);
  }
  .visible-sidebar {
    transform: translate(-200px,0);
  }
  header h1 {
    font-size: 2em;
    padding: 5px;
  }
}

.fa-search {
  padding-left: 5px;
}

.sidebar p {
  cursor: pointer;
}

#map {
  top: 50px;
  height: calc(100% - 50px);
  left: 0px;
  position: absolute;
  right: 0;
  z-index: 0;
}

#windowText {
    max-height: calc(50vh - 180px);
    min-height: 40px;
    overflow-y:auto;
}

h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.wiki-header {
  margin-bottom: 3px;
  font-size: 12px;
  color: rgb(100,100,100);
}

.population-value {
  margin-bottom: 10px;
}
